{% extends "slts/base.html" %}
{% block title %}Recordings{% endblock %}

{% block content %}

<h1 class="text-4xl font-bold mb-10">Seminar Recordings</h1>

  <section class="mb-16">
    <h2 class="text-3xl font-semibold mb-6">2026 Seminars</h2>

    <div class="space-y-6">
      {% for seminar in past_seminars %}
        <div class="flex flex-row gap-10 p-6 border-2 border-c_purple rounded-2xl">
          
          <!-- Left Section (Video) -->
          {% if seminar.url != "" %}
            <iframe 
            src="https://www.youtube.com/embed/BhTc46VOPS8?si=yLDIRoR2fe9nApKa" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
          {% else %}
            <p>Recording not posted. Check back soon!</p>
          {% endif %}

          <!-- Right Section (Info) -->
          <div class="flex flex-col gap-4">
            <h3 class="text-2xl font-semibold mb-2">{{ seminar.title }}</h3>
            <p>{{ seminar.subtite }}</p>
            <p>{{ seminar.date }}</p>
            <p>{{ seminar.location }}</p>
            <p>{{ seminar.description }}</p>
          </div>
          
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}

