{% extends "slts/base.html" %}
{% load static %}

{% block title %}2026 {{event_type}} Schedule{% endblock %}

{% block content %}

<h1 class="text-5xl xl:text-6xl font-bold text-gray-900 mb-6 text-center mt-40">2026 {{event_type}} Schedule</h1>
<hr class="my-4 border-black/20">

<div class="mb-20">
<!-- Schedule -->
{% if events %}
  <div class="space-y-12">
    {% for event in events %}
      <div class="bg-white rounded-3xl shadow-sm border-1 border-black/20 px-4 py-10 sm:px-10 flex flex-col items-center gap-10 lg:flex-row xl:gap-30 xl:w-300">

        {% if event.image %}
          <div class="w-50 h-50 sm:w-80 sm:h-80 flex-shrink-0 overflow-hidden rounded-xl bg-gray-100">
            <img 
              src="{{ event.image.url }}"
              alt="{{ event.title }}"
              class="w-full h-full object-cover"
            >
          </div>
        {% endif %}

        <div class="flex flex-col gap-4 flex-1">

          <!-- Title -->
          <h3 class="text-2xl font-semibold">
            {{ event.title }}
          </h3>

          <!-- Subtitle -->
          {% if event.subtitle %}
            <p class="text-lg text-gray-700">
              {{ event.subtitle }}
            </p>
          {% endif %}

          <!-- Meta -->
          <p class="flex flex-col lg:flex-row text-lg text-gray-600">
            <span class="font-bold px-4 py-2">
              {{ event.date }} at {{ event.time }}
            </span>
            <span class="
              px-4 py-2 rounded-full 
              {% if event.location == 'north' %}
                bg-c_bg_purple
              {% elif event.location == 'south' %}
                bg-orange-100
              {% else %}
                bg-gray-100
              {% endif %}
              ">
              {{ event.get_location_display }}
            </span>
          </p>

          <!-- Collapsible Description -->
          {% if event.description %}
            <details class="mt-4">
              <summary class="cursor-pointer text-lg font-semibold text-primary">
                Read more about this event
              </summary>

              <div class="mt-4 text-gray-800 list-disc list-inside [&>ul]:list-disc [&>ul]:ml-5 [&>ol]:list-decimal [&>ol]:ml-5">
                {{ event.description|safe }}
              </div>
            </details>
          {% endif %}

          <!-- Register Button -->
          {% if event.status == "scheduled" %}
          <a href="{% url 'slts:register' event.id %}"
             class="mt-6 inline-block bg-primary text-white text-lg font-semibold mx-auto px-6 py-3 rounded-xl">
            Register
          </a>
          {% elif event.status == "completed" and event.url != "" %}
            <a href="{% url 'slts:recordings' 2026 %}"
             class="mt-6 inline-block bg-primary text-white text-lg font-semibold mx-auto px-6 py-3 rounded-xl">
            View Recording
          </a>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-xl text-gray-600">
    No events are currently open for registration.
  </p>
{% endif %}
</div>




{% endblock %}


