{% extends "slts/base.html" %}
{% load static %}

{% block title %}Seminar Schedule{% endblock %}

{% block content %}

<h1 class="text-5xl xl:text-6xl font-bold text-gray-900 mb-6 text-center">2026 Seminar Schedule</h1>


<!-- Schedule -->
{% if seminars_2026 %}
  <div class="space-y-12">
    {% for seminar in seminars_2026 %}
      <div class="bg-white rounded-3xl shadow-md px-4 py-10 sm:px-10 flex flex-col items-center gap-10 lg:flex-row xl:gap-30 xl:w-300">

        {% if seminar.image %}
          <div class="w-50 h-50 sm:w-80 sm:h-80 flex-shrink-0 overflow-hidden rounded-xl bg-gray-100">
            <img 
              src="{{ seminar.image.url }}"
              alt="{{ seminar.title }}"
              class="w-full h-full object-cover"
            >
          </div>
        {% endif %}

        <div class="flex flex-col gap-4 flex-1">

          <!-- Title -->
          <h3 class="text-2xl font-semibold">
            {{ seminar.title }}
          </h3>

          <!-- Subtitle -->
          {% if seminar.subtitle %}
            <p class="text-lg text-gray-700">
              {{ seminar.subtitle }}
            </p>
          {% endif %}

          <!-- Meta -->
          <p class="flex flex-col lg:flex-row text-lg text-gray-600">
            <span class="font-bold px-4 py-2">
              {{ seminar.date }} at {{ seminar.time }}
            </span>
            <span class="
              px-4 py-2 rounded-full 
              {% if seminar.location == 'north' %}
                bg-c_bg_purple
              {% elif seminar.location == 'south' %}
                bg-orange-100
              {% else %}
                bg-gray-100
              {% endif %}
              ">
              {{ seminar.get_location_display }}
            </span>
          </p>

          <!-- Collapsible Description -->
          {% if seminar.description %}
            <details class="mt-4">
              <summary class="cursor-pointer text-lg font-semibold text-primary">
                Read more about this seminar
              </summary>

              <div class="mt-4 prose prose-lg max-w-none text-gray-800">
                {{ seminar.description|safe }}
              </div>
            </details>
          {% endif %}

          <!-- Register Button -->
          {% if seminar.status == "scheduled" %}
          <a href="{% url 'slts:register' seminar.id %}"
             class="mt-6 inline-block bg-primary text-white text-lg font-semibold mx-auto px-6 py-3 rounded-xl">
            Register
          </a>
          {% elif seminar.status == "completed" and seminar.url != "" %}
            <a href="{% url 'slts:recordings' %}"
             class="mt-6 inline-block bg-primary text-white text-lg font-semibold mx-auto px-6 py-3 rounded-xl">
            View Recording
          </a>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-xl text-gray-600">
    No seminars are currently open for registration.
  </p>
{% endif %}




{% endblock %}


