{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <div class="space-y-2">
        {% if seminar_export_signin %}
            <li class="list-none">
                <a href="{{ seminar_export_signin }}" class="btn btn-primary">
                    Export Sign-In Sheet
                </a>
            </li>
        {% endif %}
        {% if seminar_export_nametags %}
            <li class="list-none">
                <a href="{{ seminar_export_nametags }}" class="btn btn-primary">
                    Export Nametags
                </a>
            </li>
        {% endif %}
        {% if seminar_export_raw %}
            <li class="list-none">
                <a href="{{ seminar_export_raw }}" class="btn btn-primary">
                    Export All Attendee Info
                </a>
            </li>
        {% endif %}
    </div>
{% endblock %}
